<div id="tb-assignments">
  <h1>Your Assignments</h1>

  <p>Tap to start or resume an assignment</p>

  <ul>
  {{#each assignment in model}}
    {{view Twingl.AssignmentListItem assignment=assignment}}
  {{/each}}
  </ul>
</div>
