<!-- This template is the navigation module rendered on the assignment switcher page. --> 
<nav {{bind-attr class="loading"}}>
  <ul class="actions">
    <li class="tb-navigation-element-main">{{view Twingl.LogoutButton}}</li>
  </ul>
</nav>
