<nav>
  <ul>
    <li>{{view Twingl.HistoryBackButton}}</li>
    <li>{{view Twingl.HistoryForwardButton}}</li>
    <li>{{view Twingl.UrlTextField value=url}}{{view Twingl.UrlSubmitButton}}</li>
  </ul>
</nav>
