<div id="tb-login" class="flex-container">
  <div>
    <form {{action 'authenticate' on='submit'}}>
      <button type="submit" class="homepage-nav-gem">Tap to Sign In</button>
    </form>
  </div>
</div>
