<div id="tb-login" class="flex-container">
  <div>
    <img class="logo" src="/images/trailblazer-logo.png" alt="Trailblazer" />

    <form {{action 'authenticate' on='submit'}}>
      <button type="submit">Tap to Sign In</button>
    </form>
  </div>
</div>
