<div id="tb-ui-primary">
  <div id="tb-navigation-window">{{outlet windowNavigation}}</div>
  <div id="tb-navigation-main">{{outlet navigation}}</div>
  <div id="tb-pane-main">{{outlet}}</div>
  <div id="tb-pane-alt">{{outlet alt}}</div>
</div>
