#tb-login {
  text-align: center;

  .logo {
    margin-bottom: 24px;
  }

  button {
    text-transform: uppercase;
    font-size     : 15px;
    font-family   : "RobotoDraft";

    padding       : 8px 36px;
    border        : none;
    border-radius : 2px;

    color         : white;
    background    : #ff917b;

    &:hover {
      background: #ffa18b;
    }

    -webkit-user-select: none;
    user-select: none;

    // Shadows
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);

    & {
      box-shadow      : 0 2px 5px 0 rgba(0, 0, 0, 0.26);
      transition-delay: 0.2s;
    }

    &:active {
      box-shadow      : 0 8px 17px 0 rgba(0, 0, 0, 0.2);
      transition-delay: 0s;
    }
  }
}
