html, body, body>div {
  margin: 0;
  border: 0;
  width : 100%;
  height: 100%;
  font-family: "RobotoDraft";
}

.blur {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

#tb-ui-primary {
  position: relative;
  width   : 100%;
  height  : 100%;
  background: #fafafa; // Some window decorators don't drop shadows behind windows

  #tb-navigation-window,
  #tb-navigation-main {
    -webkit-app-region: drag;
    width : 100%;
  }

  #tb-navigation-window {
    background: rgba(0, 0, 0, 0.2);
    height: 24px;
  }

  #tb-navigation-main {
    background: rgba(0, 0, 0, 0.1);
    height: 40px;
  }

  #tb-pane-main,
  #tb-pane-alt {
    position: absolute;
    top     : 64px;
    bottom  : 0;
    left    : 0;
    right   : 0;
    width   : auto;
    height  : auto;
  }

  #tb-pane-main {
    z-index : 1;
  }

  #tb-pane-alt {
    display : none;
    z-index : 10;
  }
}

.flex-container {
  display: -webkit-flex;
  display:         flex;

  align-items    : center;
  justify-content: center;

  width : 100%;
  height: 100%;
}
