html, body, body>div {
  margin: 0;
  border: 0;
  width : 100%;
  height: 100%;
}

#tb-ui-primary {
  position: relative;
  width   : 100%;
  height  : 100%;

  #tb-navigation-main {
    height: 30px;
    width : 100%;
  }

  #tb-pane-main {
    position: absolute;
    top     : 30px;
    bottom  : 0;
    left    : 0;
    right   : 0;
    width   : auto;
    height  : auto;
    z-index : 1;
  }

  #tb-pane-alt {
    position: absolute;
    display : none;
    top     : 30px;
    bottom  : 0;
    left    : 0;
    right   : 0;
    width   : auto;
    height  : auto;
    z-index : 10;
  }
}
