/* Set up reusable flex rules for nav bars */
#tb-navigation-window,
#tb-navigation-main nav {
  display: -webkit-flex;
  display:         flex;

  -webkit-flex-direction: row;
          flex-direction: row;

  .flex {
    -webkit-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

/*----------------------------------*\
 *  Window Controls
\*----------------------------------*/

// Positioning.
#tb-navigation-window {
  ul {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    li {
      display: inline-block;
      list-style-type: none;
      border: 0;
      padding: 0;
      margin: 0 8px 0 0;
    }
    &:last-child {margin-right: 3px;}
  }
}

// Window control styling. 
.tb-window-control {
  -webkit-app-region: no-drag;
  width         : 36px;
  height        : 36px;
  line-height   : 40px;
  text-align    : center;
  border-radius : 2px;

  color         : rgba(0, 0, 0, 0.57);
  background    : rgba(255, 255, 255, 0.3);
  cursor        : pointer;

  border-radius : 2px;
  background    : #F6F5F3;

  &:hover {
    background  : rgba(255, 255, 255, 0.5);
    color       : rgba(0, 0, 0, 0.7);
  }

  // Manual tweaking of the icon alignment #pixelpushing
  &.fa:before {
    position: relative;
    top     : -1px;
  }

  &.fa.fa-minus:before { font-size: 15px; }
  &.fa.fa-plus:before  { font-size: 15px; } 
  &.fa.fa-times:before { font-size: 16px; }
}




// Legacy styles
#tb-navigation-window {
  .tb-window-nav {
    -webkit-app-region: no-drag;
    height        : 24px;
    line-height   : 24px;

    &.tb-assignment-switch {
      font-family : "RobotoDraft";
      font-size   : 13px;
      cursor      : pointer;
      border      : 0;

      color       : rgba(0, 0, 0, 0.57);
      background  : none;

      &:hover {
        background: rgba(0, 0, 0, 0.2);
        color     : rgba(0, 0, 0, 0.7);
      }
    }
  }
}

/*----------------------------------*\
 *  Browsing Controls
\*----------------------------------*/

#tb-navigation-main {
  nav {
    position: absolute;
    width   : 100%;

    &.loading { background: red; }

    .tb-navigation-element-alt {
      display: none;
    }

    ul {
      display: inline-block;

      &, li {
        border : 0;
        padding: 0;
        margin : 0;
      }

      li {
        display        : inline;
        list-style-type: none;
      }
    }
  }

  .tb-nav-button {
    -webkit-app-region: no-drag;
    width         : 24px;
    height        : 24px;

    font-size     : 24px;

    padding       : 8px;
    text-align    : center;
    vertical-align: top;
    cursor        : pointer;

    color       : rgba(0, 0, 0, 0.57);

    &:hover {
      background: rgba(0, 0, 0, 0.2);
      color     : rgba(0, 0, 0, 0.7);
    }
  }
}
