svg {
  background: rgba(255,255,255,0.75);

  .link {
    fill:         none;
    stroke:       #9e9e9e; // Gray 500
    stroke-width: 15px;
  }

  .node {

    polygon {
      fill:         #3f51b5; // Indigo 500
      stroke:       #3f51b5; // Indigo 500
      stroke-width: 20;
    }
    &.unread polygon {
      fill:         #9e9e9e; // Grey 500
      stroke:       #9e9e9e; // Grey 500
    }
    &.current polygon {
      fill:         #ff917b; // Trailblazer Orange
      stroke:       #ff917b; // Trailblazer Orange
    }
    &.current:hover {
      fill:         #ffa18b; // Trailblazer Orange Hover
      stroke:       #ffa18b; // Trailblazer Orange Hover
    }

    p {
      color:        rgba(255, 255, 255, 0.96);
      margin:       0;
      font-weight:  400;
      font-size:    16px;
      line-height:  18px;
      text-align:   center;
    }

    &.unread  p { color: rgba(0, 0, 0, 0.72); }
    &.current p { color: rgba(0, 0, 0, 0.72); }

    &:hover {
      polygon {
        fill:       #5677fc; // Blue 500
        stroke:     #5677fc; // Blue 500
      }

      p { color: rgba(255, 255, 255, 0.96); }
    }
  }

}
