svg {
  background: rgba(255,255,255,0.75);

  .link {
    fill:         none;
    stroke:       #9e9e9e; // Gray 500
    stroke-width: 15px;
  }

  .node {
    polygon {
      fill:         #3f51b5; // Indigo 500
      stroke:       #3f51b5; // Indigo 500
      stroke-width: 20;
    }

    &:hover {
      polygon {
        fill:       #5c6bc0; // Indigo 500
        stroke:     #5c6bc0; // Indigo 500
      }
    }

    p {
      color:        rgba(255, 255, 255, 0.96);
      margin:       0;
      font-weight:  400;
      font-size:    16px;
      line-height:  18px;
      text-align:   center;
    }
  }

}
